.questionBankLink .questionBankButton {
  position: relative;
  margin-bottom: 15px;
}

.questionBankButtonDisabled {
  pointer-events: none;
}

.questionBankIcon {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%) scale(0.5);
}

.questionBankIconDisabled {
  opacity: 0.3;
}
